In [1]:
#importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
#reading orders dataset
orders=pd.read_excel("Retail_dataset.xlsx",sheet_name="orders")

In [3]:
orders.head(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,af07308b275d755c9edb36a90c618231,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,3a653a41f6f9fc3d2a113cf8398680e8,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,7c142cf63193a1473d2e66489a9ae977,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,72632f0f9dd73dfee390c9b22eb56dd6,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-16 18:17:02,2018-02-26
5,a4591c265e18cb1dcee52889e2d8acc3,80bb27c7c16e8f973207a5086ab329e2,delivered,2017-07-09 21:57:05,2017-07-09 22:10:13,2017-07-26 10:57:55,2017-08-01
6,136cce7faa42fdb2cefd53fdc79a6098,36edbb3fb164b1f16485364b6fb04c73,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaT,2017-05-09
7,6514b8ad8028c9f2cc2374ded245783f,932afa1e708222e5821dac9cd5db4cae,delivered,2017-05-16 13:10:30,2017-05-16 13:22:11,2017-05-26 12:55:51,2017-06-07
8,76c6e866289321a7c93b82b54852dc33,39382392765b6dc74812866ee5ee92a7,delivered,2017-01-23 18:29:09,2017-01-25 02:50:47,2017-02-02 14:08:10,2017-03-06
9,e69bfb5eb88e0ed6a785585b27e16dbf,299905e3934e9e181bfb2e164dd4b4f8,delivered,2017-07-29 11:55:02,2017-07-29 12:05:32,2017-08-16 17:14:30,2017-08-23

In [4]:
orders.shape

(99441, 7)

In [5]:
orders=orders.drop_duplicates()
orders.shape

(99441, 7)

In [6]:
#No duplicate rows in the dataset

In [7]:
orders.order_id.duplicated().sum()

0

In [8]:
#No duplciate value in order_id column

In [9]:
orders.order_status.value_counts()

delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: order_status, dtype: int64

In [10]:
#For this capstone, considering only the cases having order status as 'delivered'.
orders=orders[orders["order_status"]=="delivered"]

In [11]:
orders.shape

(96478, 7)

In [12]:
(orders.isna().sum().sort_values(ascending=False)/orders.shape[0])*100

order_approved_at                0.014511
order_delivered_timestamp        0.008292
order_id                         0.000000
customer_id                      0.000000
order_status                     0.000000
order_purchase_timestamp         0.000000
order_estimated_delivery_date    0.000000
dtype: float64

In [13]:
#We can impute the null values of the two columns with
#the corresponding values in the columns order_purchase_timestamp and order_estimated_delivery_date

In [14]:
orders.order_approved_at.fillna(orders.order_purchase_timestamp,inplace=True)
orders.order_delivered_timestamp.fillna(orders.order_estimated_delivery_date,inplace=True)

In [15]:
(orders.isna().sum().sort_values(ascending=False)/orders.shape[0])*100

order_id                         0.0
customer_id                      0.0
order_status                     0.0
order_purchase_timestamp         0.0
order_approved_at                0.0
order_delivered_timestamp        0.0
order_estimated_delivery_date    0.0
dtype: float64

In [16]:
orders.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_timestamp        datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [17]:
#reading order_items dataset
order_items=pd.read_excel("Retail_dataset.xlsx",sheet_name="order_items")

In [18]:
order_items.head(10)

,order_id,order_item_id,product_id,seller_id,price,shipping_charges
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14
5,00048cc3ae777c65dbb7d2a0634bc1ea,1,ef92defde845ab8450f9d70c526ef70f,6426d21aca402a131fc0a5d0960a3c90,21.90,12.69
6,00054e8431b9d7675808bcb819fb4a32,1,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,19.90,11.85
7,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,810.00,70.75
8,0005a1a1728c9d785b8e2b08b904576c,1,310ae3c140ff94b03219ad0adc3c778f,a416b6a846a11724393025641d4edd5e,145.95,11.65
9,0005f50442cb953dcd1d21e1fb923495,1,4535b0e1091c278dfd193e5a1d63b39f,ba143b05f0110f0dc71ad71b4466ce92,53.99,11.40

In [19]:
order_items.shape

(112650, 6)

In [20]:
order_items.isna().sum().sort_values(ascending=False)

order_id            0
order_item_id       0
product_id          0
seller_id           0
price               0
shipping_charges    0
dtype: int64

In [21]:
order_items.dtypes

order_id             object
order_item_id         int64
product_id           object
seller_id            object
price               float64
shipping_charges    float64
dtype: object

In [22]:
#reading customers dataset
customers=pd.read_excel("Retail_dataset.xlsx",sheet_name="customers")

In [23]:
customers.head(10)

,customer_id,customer_zip_code_prefix,customer_city,customer_state
0,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
5,4c93744516667ad3b8f1fb645a3116a4,89254,jaragua do sul,SC
6,addec96d2e059c80c30fe6871d30d177,4534,sao paulo,SP
7,57b2a98a409812fe9618067b6b8ebe4f,35182,timoteo,MG
8,1175e95fb47ddff9de6b2b06188f7e0d,81560,curitiba,PR
9,9afe194fb833f79e300e37e580171f22,30575,belo horizonte,MG

In [24]:
customers.shape

(99441, 4)

In [25]:
customers.isna().sum().sort_values(ascending=False)

customer_id                 0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [26]:
customers.dtypes

customer_id                 object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [27]:
#dropping duplicate rows
customers=customers.drop_duplicates()
customers.shape

(96352, 4)

In [28]:
#duplicate rows have been dropped

In [29]:
#checking duplicate values in customer_id column
customers.customer_id.duplicated().sum()

256

In [30]:
#dropping duplicate values in customer_id column as this is the primary key
customers.drop_duplicates(subset="customer_id", keep="first", inplace = True)

In [31]:
customers.shape

(96096, 4)

In [32]:
customers.customer_id.duplicated().sum()

0

In [33]:
#Reading payments dataset
payments=pd.read_excel("Retail_dataset.xlsx",sheet_name="payments")

In [34]:
payments.head(10)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
5,298fcdf1f73eb413e4d26d01b25bc1cd,1,credit_card,2,96.12
6,771ee386b001f06208a7419e4fc1bbd7,1,credit_card,1,81.16
7,3d7239c394a212faae122962df514ac7,1,credit_card,3,51.84
8,1f78449c87a54faf9e96e88ba1491fa9,1,credit_card,6,341.09
9,0573b5e23cbd798006520e1d5b4c6714,1,wallet,1,51.95

In [35]:
payments.shape

(103886, 5)

In [36]:
payments.dtypes

order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

In [37]:
payments.isna().sum().sort_values(ascending=False)

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [38]:
#Reading products dataset
products=pd.read_excel("Retail_dataset.xlsx",sheet_name="products")

In [39]:
products.head(10)

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,baby,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,housewares,625.0,20.0,17.0,13.0
5,41d3672d4792049fa1779bb35283ed13,musical_instruments,200.0,38.0,5.0,11.0
6,732bd381ad09e530fe0a5f457d81becb,cool_stuff,18350.0,70.0,24.0,44.0
7,2548af3e6e77a690cf3eb6368e9ab61e,furniture_decor,900.0,40.0,8.0,40.0
8,37cc742be07708b53a98702e77a21a02,home_appliances,400.0,27.0,13.0,17.0
9,8c92109888e8cdf9d66dc7e463025574,toys,600.0,17.0,10.0,12.0

In [40]:
products.shape

(32951, 6)

In [41]:
products.dtypes

product_id                object
product_category_name     object
product_weight_g         float64
product_length_cm        float64
product_height_cm        float64
product_width_cm         float64
dtype: object

In [42]:
#dropping duplicate rows
products=products.drop_duplicates()
products.shape

(32951, 6)

In [43]:
#checking duplicate values in product_id column
products.product_id.duplicated().sum()

0

In [44]:
products.isna().sum().sort_values(ascending=False)

product_category_name    170
product_weight_g           2
product_length_cm          2
product_height_cm          2
product_width_cm           2
product_id                 0
dtype: int64

In [45]:
# checking the mode of the product_category_name column
products["product_category_name"].mode()[0]

'toys'

In [46]:
#imputing null values of the column product_category_name with mode of the column
products["product_category_name"].fillna(products["product_category_name"].mode()[0],inplace=True)

In [47]:
products.isna().sum().sort_values(ascending=False)

product_weight_g         2
product_length_cm        2
product_height_cm        2
product_width_cm         2
product_id               0
product_category_name    0
dtype: int64

In [48]:
products.describe()

,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32949.000000,32949.000000,32949.000000,32949.000000
mean,2276.472488,30.815078,16.937661,23.196728
std,4282.038731,16.914458,13.637554,12.079047
min,0.000000,7.000000,2.000000,6.000000
25%,300.000000,18.000000,8.000000,15.000000
50%,700.000000,25.000000,13.000000,20.000000
75%,1900.000000,38.000000,21.000000,30.000000
max,40425.000000,105.000000,105.000000,118.000000

In [49]:
#imputing the null values with the median values of the corresponding column
products.product_weight_g.fillna(products.product_weight_g.median(), inplace = True)
products.product_length_cm.fillna(products.product_length_cm.median(), inplace = True)
products.product_height_cm.fillna(products.product_height_cm.median(), inplace = True)
products.product_width_cm.fillna(products.product_width_cm.median(), inplace = True)

In [50]:
products.isna().sum().sort_values(ascending=False)

product_id               0
product_category_name    0
product_weight_g         0
product_length_cm        0
product_height_cm        0
product_width_cm         0
dtype: int64

In [51]:
# creating a Pandas Excel writer and an excel file with cleaned datasets
pd_excel = pd.ExcelWriter("Retail_dataset_new.xlsx", engine = 'xlsxwriter')

orders.to_excel(pd_excel, sheet_name = "order", index = False)
order_items.to_excel(pd_excel, sheet_name = "order_items", index = False)
customers.to_excel(pd_excel, sheet_name = "customers", index = False)
payments.to_excel(pd_excel, sheet_name = "payments", index = False)
products.to_excel(pd_excel, sheet_name = "products", index = False)

In [52]:
pd_excel.save()

In [53]:
#preparing the market basket analysis dataset

In [54]:
# reading order_items and products datasets respectively
df1 = pd.read_excel("Retail_dataset_new.xlsx", sheet_name = "order_items")
df2 = pd.read_excel("Retail_dataset_new.xlsx", sheet_name = "products")

In [55]:
df1.head(10)

,order_id,order_item_id,product_id,seller_id,price,shipping_charges
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14
5,00048cc3ae777c65dbb7d2a0634bc1ea,1,ef92defde845ab8450f9d70c526ef70f,6426d21aca402a131fc0a5d0960a3c90,21.90,12.69
6,00054e8431b9d7675808bcb819fb4a32,1,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,19.90,11.85
7,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,810.00,70.75
8,0005a1a1728c9d785b8e2b08b904576c,1,310ae3c140ff94b03219ad0adc3c778f,a416b6a846a11724393025641d4edd5e,145.95,11.65
9,0005f50442cb953dcd1d21e1fb923495,1,4535b0e1091c278dfd193e5a1d63b39f,ba143b05f0110f0dc71ad71b4466ce92,53.99,11.40

In [56]:
df2.head(10)

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,225,16,10,14
1,3aa071139cb16b67ca9e5dea641aaa2f,art,1000,30,18,20
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,154,18,9,15
3,cef67bcfe19066a932b7673e239eb23d,baby,371,26,4,26
4,9dc1a7de274444849c219cff195d0b71,housewares,625,20,17,13
5,41d3672d4792049fa1779bb35283ed13,musical_instruments,200,38,5,11
6,732bd381ad09e530fe0a5f457d81becb,cool_stuff,18350,70,24,44
7,2548af3e6e77a690cf3eb6368e9ab61e,furniture_decor,900,40,8,40
8,37cc742be07708b53a98702e77a21a02,home_appliances,400,27,13,17
9,8c92109888e8cdf9d66dc7e463025574,toys,600,17,10,12

In [57]:
df1.shape

(112650, 6)

In [58]:
df2.shape

(32951, 6)

In [59]:
#performing an inner join on the datasets using product_id as the common column
df = pd.merge(df1, df2, on = "product_id", how = "inner")

In [60]:
df.head(10)

,order_id,order_item_id,product_id,seller_id,price,shipping_charges,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29,toys,650,28,9,14
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,55.9,17.96,toys,650,28,9,14
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,64.9,18.33,toys,650,28,9,14
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,16.17,toys,650,28,9,14
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29,toys,650,28,9,14
5,a0f9acf0b6294ed8561e32cde1a966bc,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,55.9,26.93,toys,650,28,9,14
6,bbf796534aaf9c59f8da8c7982db56e0,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,64.9,38.50,toys,650,28,9,14
7,c9ef97d2854afe64a3b4488bc2836af6,2,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,18.12,toys,650,28,9,14
8,df2d910b8b5e5f461f67043489f9569d,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,55.9,35.71,toys,650,28,9,14
9,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.9,19.93,toys,30000,50,30,40

In [61]:
df.shape

(112650, 11)

In [62]:
# creating a Pandas Excel writer and an excel file with the required dataset
pd_excel = pd.ExcelWriter("Market_Basket_Analysis_dataset.xlsx", engine = 'xlsxwriter')

df.to_excel(pd_excel, sheet_name = "product_category_name", index = False)

pd_excel.save()